/*
Joshua Ceres
Week 4
DWS2
*/



/*======================= Wrapper Begin ==============================*/
#wrapper {
    width: 1024px;
    background-color: #E1E0E0;
}
/*======================= Wrapper End ==============================*/

/*======================= Banner Begin ==============================*/
#banner {
    width: 1024px;
    background-color: #6E6A6A;
}
/*======================= Banner Begin ==============================*/

/*======================= Menu Top Begin ==============================*/
#menuTop {
    width: 1024px;
    background-color: #ACAAAA;
}
/*======================= Menu Top Begin ==============================*/