/*
Joshua Ceres
Week 4
DWS2
*/


/*======================= Body Begin ==============================*/
body {
    margin: 0 auto;
    font-family: Georgia, "Times New Roman", Times, serif;
}

body {
    display: block;
    position: relative;
}
/*======================= Body End ==============================*/

/*======================= Wrapper Begin ==============================*/
#wrapper {
    width: 1024px;
    height: 768px;
    background-color: #E1E0E0;
}
/*======================= Wrapper End ==============================*/

/*======================= Banner and Form Begin ==============================*/
#banner {
    width: 1024px;
    height: 220px;
    background-color: #6E6A6A;
}

#banner{
    background-image: url("../images/Ceres Imports.jpg");
}

form{
    display: inline-block;
    padding: .5em;
    float: right;
    clear: right;
    overflow: hidden;
}
/*======================= Banner and Form End ==============================*/

/*======================= Menu Top Begin ==============================*/
#menuTop {
    width: 1024px;
    height: 35px;
    padding-top: .5em;
    background-color: #2F3540;
    border: .25em #252A33;
}

ul{
    list-style-type: none;
    margin-left: 0;
    padding: 0;

}

li{
    display: block;
    width: 120px;
}
li{
    float: left;
    clear: right;
}

a:link, a:visited{
    display: inline-block;
    font-weight: bold;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active{

}

/*======================= Menu Top End ==============================*/

/*======================= Column Left Begin ==============================*/
#columnLeft {
    width: 220px;
    height: 438px;
    background-color: #CBCACA;
    float: left;
}
/*======================= Column Left End ==============================*/

/*======================= Column Right Begin ==============================*/
#columnRight {
    width: 220px;
    height: 438px;
    background-color: #CBCACA;
    float: right;
}
/*======================= Column Right End ==============================*/

/*======================= Content Begin ==============================*/
#content {
    width: 584px;
    height: 438px;
    background-color: #E1E0E0;
    margin-left: 220px;
}
/*======================= Content End ==============================*/

/*======================= Footer Begin ==============================*/
#footer {
    width: 1024px;
    height: 75px;
    background-color: #6E6A6A;
}
/*======================= Footer End ==============================*/