/* This is a custom CSS stylesheet */

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #1C1D21;
}

#container{
    background-color: #92CDCF;
}

.navbar{
    color: #92CDCF;
    background-color: #445878;
}
/*
#navbar
    color: #1EAEDB;
}

.navbar a{
    color: #1EAEDB;

}
.navbar li a{
    color: #1EAEDB;

}
*/

.jumbotron{
    background-color: #EEEFF7;
    /* background-image: url(../img/Walking%20Dead%20Banner-1.jpg);
    color: white; */
}

h2{
    color: #EEEFF7;
    background-color: #445878;
    border: .1em solid #31353D;
   /* border-bottom: .5em solid #31353D; */
   /* background-color: #EEEFF7; */
}

#row-1, #row-2, #row-3{
    padding-top: .9%;
    padding-right: 1%;
    padding-left: 1%;
    background-color: #EEEFF7;
    border: .25em solid #31353D;
}