/* Joshua Ceres
   Custom Styling sheet
   DWS2 Week 3
*/

/*----------------------------Body and Form------------------------------------*/
body {
    margin: 2em 5em;
    font-family: Georgia, "Times New Roman", Times, serif;
}

body {
    display: block;
   /*  margin: 8px; */
}

form {
    display: block;
    margin-top: 0;
}


/*----------------------------Headings and Legend------------------------------------*/
h1, legend {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

/*----------------------------Fieldset------------------------------------*/
fieldset {
    margin-bottom: 2em;
    padding: 1em;
}

fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    border: 2px groove threedface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    min-width: -webkit-min-content;
}